.container {
  background-image: url("fon2.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 450px;
  margin: 20px auto;
  padding: 20px;
}

body {
  background-color: #cdeeff;
}

h1 {
  color: #cdeeff;
  font-size: 50px;
  text-shadow: 0 0 10px #379237,0 0 20px #379237,0 0 30px #379237,0 0 40px #379237;
  font-family: 'Ubuntu', sans-serif;
}

.pic1 {
  border-radius: 50%;
}

.crossed {
  text-decoration: line-through 3px red;
}

ul, li {
  list-style-type: none;
  padding: 8px;
  margin:0;
  color: #cdeeff;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, .btn {
  width: 40vh;
  padding: 15px;
  margin: 10px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 20px;
  font-size: 15px;
}

.btn-add {
  background-color: #379237;
  color: #cdeeff;
}

.btn-del {
  background-color: #0002A1;
  color: #cdeeff;
}

